body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    color:black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 1000;
    box-shadow: black 0px 0px 30px 0px;
    transition: height 0.3s ease, font-size 0.3s ease;
    font-weight: 550;
}
#cennik {
    margin-top: 120px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0;
}
#cennik2 {
    position: relative;
    background-color: lightgray;
    margin-bottom: 50px;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 0;
    border-radius: 60px;
    box-shadow: gray 0px 0px 10px 0px;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
#regulamin {
    display: block;
    margin-top: 200px;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 100px; 
}
#tytul {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: larger;
}
#paragraf {
    margin: 5px;
    padding: 0;
    font-weight: 700;
}
#numer {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}
#minus {
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
#monitoringcennik {
    margin: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
#monitoringcennik2 {
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 15px;
}
#data {
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: 15%;
    font-size: smaller;
    font-style: italic;
}
#logo {
    width: 17%;
    height: auto;
    position: relative;
    left: 10%;
}
#hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}
#menu1 {
    display: flex;
}
#mobile-menu {
    display: none;
}
nav ul {
    display: flex;
    list-style: none;
    position: relative;
    right: 70%;
}
nav li {
    margin: 10px;
    padding: 10px;
    transition: background-color 0.3s, border-color 0.3s;
    position: relative;
}
nav li:hover {
    
    transition: background-color 0.3s, border-color 0.3s;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    font-weight: 400;
}
nav ul li a:hover {
    color: grey;
    
}
.dropdown-content {
    display: none; /* Ukryj zawartość rozwijanego menu */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Ustaw pozycję względem elementu li */
    left: 0;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: lightgray;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block; /* Pokaż zawartość rozwijanego menu przy najechaniu */
}
#obraz1 {
    display: block;
    transform: scale(1.1);
    width: 100%;
    height: auto;
    filter: blur(4px);
    
}
.tlo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 900px;
}
.overlaytla1{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.overlaytla1 a {
    font-size: 80px;
    line-height: 3;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}
.overlaytla1 a:hover {
    color: rgb(160, 160, 160);
    transition: color 0.3s;
}
.overlaytla1 a:checked {
    color: white;
}
#serwistyt {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#tyt {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
}
#serwis {
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 100%;
    background-color: lightgrey;
}
#laptop {
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
#overlayserwis{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-7%, -50%);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

}
#monitoringtyt {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#monitoring {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
    background-color: lightgray;
}
#kamery {
    position: relative;
    overflow: hidden;
    width: 40%;
    height: 100%;
    float: right;
    margin-right: 5%;
}
#overlaymonitoring{ 
    position: absolute;
    top: 10%;
    left: 10%;
    right: 60%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
#smarttyt {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#smart {
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 100%;
    background-color: lightgrey;
}
#smartdom {
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
#overlaysmart{ 
    position: absolute;
    top: 10%;
    left: 50%;
    right: 10%;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid lightgrey;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 15px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
    font-weight: 600;
}
#cenniktyt {
    font-size: 50px;
    font-weight: 700;
}
#cenniktytkomp {
    font-size: 30px;
    font-weight: 700;

    margin-top: 85px;
    margin-bottom: 40px;
}
#cenniktytlaptop {
    font-size: 30px;
    font-weight: 700;
    height: 80px;
    margin-top: 85px;
    margin-bottom: 0px;
}
#cenniktytmonitoring {
    font-size: 30px;
    font-weight: 700;
    height: 80px;
    margin-top: 85px;
    margin-bottom: 0px;
}
#cenniktyt2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
footer {
    background-color: rgb(77, 77, 77);
    text-align: center;
    margin-top: auto;
    height: auto;
    color: white;
    position: relative;
}
.footer1container {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
#f1tyt {
    font-size: 20px;
    margin: 0;
    margin-top: 30px;
    font-weight: 500;
}
#footer11 ul {
    list-style: none;
    padding: 0;
}
#footer11ahref {
    text-decoration: none;
    line-height: 2;
    margin: 0;
    padding: 0;
}
#footer11ahref:visited {
    color: blue;
}
#footer11p {
    text-decoration: none;
    line-height: 2;
    margin: 0;
    padding: 0;
}
#footer12 ul {
    list-style: none;
    padding: 0;
}
#liniafooter {
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    height: 0;
}
#liniafooter::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    border-radius: 5px;
    transform: translateY(-50%);
}
.footer2container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}
#logofooter {
    width: 110px;
    height: 110px;
}
#copyrightfooter {
    position: absolute;
    left: 28%;
    bottom: 3%;
    font-size: 15px;
}
#fb {
    height: 60px;
    width: 60px;
}
#insta {
    height: 60px;
    width: 60px;
}
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 8px;
    background-color: whitesmoke;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, background-color 0.3s ease;
    visibility: hidden;
    box-shadow: rgb(97, 97, 97) 0px 0px 3px 0px;
}
#backtoup {
    width: 35px;
}

#backToTop:hover {
    background-color: rgb(207, 207, 207);
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}
#contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-size: 27px;
    margin-bottom: 100px;

}

#contactFormHeader {
    text-align: center;
    margin-bottom: 40px;
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contactFormName,
#contactFormEmail,
#contactFormMessage {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contactFormName:focus,
#contactFormEmail:focus,
#contactFormMessage:focus {
    outline: none;
}

#contactFormMessage {
    height: 100px;
}
#contactFormSubmit {
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#contactFormSubmit:hover {
    background-color: #0056b3;
}

#popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popupMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#popupContent {
    text-align: center;
}

#popupClose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

#kontaktcontainer {
    display: flex;
    height: 300px;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
}

#kontaktdane {
    position: relative;
    right: 10%;
    top: 15%;
}

#kontaktgodz {
    position: relative;
    left: 10%;
    top: 15%;
}

#kontaktdanetyt {
    font-size: 27px;
}

#kontaktdane1 {
    font-size: 20px;
}

#glowna1container {
    display: flex;
    justify-content: space-between;
    padding: 70px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 100px;
    font-size: 20px;
}

#zdj {
    width: 130px;
}

#onascontainer1 {
    margin-top: 150px;
}

#onaszdj1 {
    width: 700px;
    margin-left: 5%;
}

#onaszdj2 {
    width: 700px;
    height: 500px;
    margin-right: 5%;
}

#onas2 {
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    background-color: lightgrey;
}

#onas1 {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    font-size: 20px;
}

#onastekst {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 150px;
}

#onastekst2 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    margin-top: 150px;
}

#onastyt {
    font-size: 30px;
    font-weight: 700;
}